/* .App-Heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    flex-grow: 1;
  }

  #my-navbar {
    height: 130px;
    background-color: #2F2F26;
  }

   */
   .App-Heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    flex-grow: 1;
    
    
  }

  #my-navbar {
    height: 70px;
    background-color: #2F2F26;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow properties */
  }
  

  