.__markerjs2_ {
  position: absolute !important;
  left: 50% !important;
  top: 40% !important;
  transform: translate(-50%, -50%);
}

.box-toolbar {
  position: absolute;
  left: 50%;
}

.btn-success{
  background-color: #fff !important;
  color: black !important;
  margin-top: 20px;
}
.btn:hover{
  background-color: #20222200;
  color: #fff;
  transition: all;

}
@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
